@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    @apply bg-gray-100 text-gray-900 antialiased;
  }

  #root {
    height: 100%;
  }
}
